In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\Abhishek\\Downloads\\data.csv")

In [2]:
df=df.drop("Unnamed: 0",axis=1)

In [3]:
df.isnull().sum()

match_event_id            1563
location_x                1461
location_y                1540
remaining_min             1562
power_of_shot             1486
knockout_match            1517
game_season               5862
remaining_sec             1594
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number            1563
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot    15417
match_id                     0
team_id                      0
remaining_min.1           1535
power_of_shot.1           1539
knockout_match.1          1493
remaining_sec.1           1539
distance_of_shot.1        1568
dtype: int64

In [4]:
len(df)

30697

In [5]:
import seaborn as sns
import matplotlib.pyplot as plt

df.corr()
sns.heatmap(df.corr())

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 27 columns):
match_event_id           29134 non-null float64
location_x               29236 non-null float64
location_y               29157 non-null float64
remaining_min            29135 non-null float64
power_of_shot            29211 non-null float64
knockout_match           29180 non-null float64
game_season              24835 non-null object
remaining_sec            29103 non-null float64
distance_of_shot         29130 non-null float64
is_goal                  24429 non-null float64
area_of_shot             29195 non-null object
shot_basics              29122 non-null object
range_of_shot            29133 non-null object
team_name                29162 non-null object
date_of_game             29147 non-null object
home/away                29200 non-null object
shot_id_number           29134 non-null float64
lat/lng                  29132 non-null object
type_of_shot             15417 non-null object
type_of_combined_shot    15280 non-null object
match_id                 30697 non-null int64
team_id                  30697 non-null int64
remaining_min.1          29162 non-null float64
power_of_shot.1          29158 non-null float64
knockout_match.1         29204 non-null float64
remaining_sec.1          29158 non-null float64
distance_of_shot.1       29129 non-null float64
dtypes: float64(15), int64(2), object(10)
memory usage: 6.3+ MB

In [7]:
df["team_id"].unique()

array([1610612747], dtype=int64)

In [8]:
df=df.drop("team_id",axis=1)
df.head()

,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,...,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot,match_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,NaN,...,1.0,"45.539131, -122.651648",shot - 30,NaN,20000012,10.00,1.0,50.608,54.2000,38.0
1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,0.0,...,2.0,"45.539131, -122.651648",shot - 45,NaN,20000012,10.00,1.0,28.800,22.0000,35.0
2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,1.0,...,3.0,"45.539131, -122.651648",shot - 25,NaN,20000012,92.64,1.0,0.000,63.7216,54.4
3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,0.0,...,4.0,"45.539131, -122.651648",NaN,shot - 3,20000012,NaN,1.0,122.608,52.0000,42.0
4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,1.0,...,5.0,"45.539131, -122.651648",NaN,shot - 1,20000012,42.64,2.0,0.000,19.0000,20.0

In [9]:
object_cols=list(df.select_dtypes("object").columns)
object_cols

['game_season',
 'area_of_shot',
 'shot_basics',
 'range_of_shot',
 'team_name',
 'date_of_game',
 'home/away',
 'lat/lng',
 'type_of_shot',
 'type_of_combined_shot']

In [10]:
df[object_cols]=df[object_cols].fillna("None")

In [11]:
for i in object_cols:
    print(i," : ",df[i].unique(),"\n")

game_season  :  ['2000-01' 'None' '2001-02' '2002-03' '2003-04' '2004-05' '2005-06'
 '2006-07' '2007-08' '2008-09' '2009-10' '2010-11' '2011-12' '2012-13'
 '2013-14' '2014-15' '2015-16' '1996-97' '1997-98' '1998-99' '1999-00']

area_of_shot  :  ['Right Side(R)' 'Left Side(L)' 'Left Side Center(LC)'
 'Right Side Center(RC)' 'Center(C)' 'None' 'Mid Ground(MG)']

shot_basics  :  ['Mid Range' 'Goal Area' 'Goal Line' 'Penalty Spot' 'None' 'Right Corner'
 'Mid Ground Line' 'Left Corner']

range_of_shot  :  ['16-24 ft.' '8-16 ft.' 'Less Than 8 ft.' '24+ ft.' 'None'
 'Back Court Shot']

team_name  :  ['Manchester United' 'None']

date_of_game  :  ['2000-10-31' '2000-11-01' '2000-11-04' ... '2000-06-14' '2000-06-16'
 '2000-06-19']

home/away  :  ['MANU @ POR' 'None' 'MANU vs. UTA' 'MANU @ VAN' 'MANU vs. LAC'
 'MANU @ HOU' 'MANU @ SAS' 'MANU vs. HOU' 'MANU vs. DEN' 'MANU @ SAC'
 'MANU @ DEN' 'MANU vs. CHI' 'MANU vs. GSW' 'MANU vs. MIN' 'MANU @ LAC'
 'MANU vs. IND' 'MANU @ SEA' 'MANU vs. SAS' 'MANU vs. DAL' 'MANU vs. PHI'
 'MANU @ GSW' 'MANU vs. SEA' 'MANU vs. DET' 'MANU vs. MIL' 'MANU vs. VAN'
 'MANU @ TOR' 'MANU @ MIA' 'MANU @ DAL' 'MANU vs. POR' 'MANU @ PHX'
 'MANU vs. CLE' 'MANU @ UTA' 'MANU vs. MIA' 'MANU vs. NJN' 'MANU @ NYK'
 'MANU @ CLE' 'MANU @ MIN' 'MANU vs. CHH' 'MANU vs. SAC' 'MANU vs. PHX'
 'MANU @ NJN' 'MANU @ PHI' 'MANU @ CHH' 'MANU @ IND' 'MANU vs. TOR'
 'MANU @ DET' 'MANU @ WAS' 'MANU @ ORL' 'MANU @ ATL' 'MANU @ MIL'
 'MANU vs. NYK' 'MANU vs. MEM' 'MANU vs. ORL' 'MANU @ MEM' 'MANU @ CHI'
 'MANU vs. WAS' 'MANU vs. ATL' 'MANU vs. BOS' 'MANU @ BOS' 'MANU vs. NOH'
 'MANU @ NOH' 'MANU @ UTH' 'MANU vs. SAN' 'MANU @ NOK' 'MANU @ PHO'
 'MANU vs. NOK' 'MANU vs. PHO' 'MANU @ CHA' 'MANU vs. CHA' 'MANU vs. OKC'
 'MANU @ OKC' 'MANU vs. BKN' 'MANU @ BKN' 'MANU @ NOP' 'MANU vs. NOP']

lat/lng  :  ['45.539131, -122.651648' '42.982923, -71.446094' '49.250068, -123.114646'
 'None' '29.740325, -95.365762' '29.444994, -98.524120'
 '38.567296, -121.456638' '39.739968, -104.954013'
 '34.189593, -118.471724' '47.633181, -122.308343'
 '37.754130, -122.437947' '43.717098, -79.395917' '25.790710, -80.207819'
 '32.757824, -96.786653' '33.552026, -112.071667' '40.774891, -111.930790'
 '40.708999, -73.872430' '41.484971, -81.671552' '46.667324, -94.419250'
 '40.643505, -73.939507' '39.993941, -75.143458' '35.205878, -80.841194'
 '40.361408, -86.186052' '42.379455, -83.115635' '38.919619, -77.015211'
 '28.549237, -81.372780' '33.768092, -84.393817' '43.062206, -87.944754'
 '35.103812, -89.964007' '41.845137, -87.660450' '42.330507, -71.074655'
 '30.018061, -90.022651' '40.324211, -111.674849' '30.028164, -89.997933'
 '33.513157, -112.082793' '35.262047, -80.865746' '35.492151, -97.519011'
 '40.623199, -73.951223' '30.055498, -89.960838']

type_of_shot  :  ['shot - 30' 'shot - 45' 'shot - 25' 'None' 'shot - 17' 'shot - 36'
 'shot - 44' 'shot - 7' 'shot - 12' 'shot - 6' 'shot - 4' 'shot - 20'
 'shot - 24' 'shot - 54' 'shot - 42' 'shot - 34' 'shot - 39' 'shot - 1'
 'shot - 37' 'shot - 14' 'shot - 21' 'shot - 9' 'shot - 0' 'shot - 2'
 'shot - 22' 'shot - 15' 'shot - 10' 'shot - 49' 'shot - 51' 'shot - 52'
 'shot - 46' 'shot - 32' 'shot - 11' 'shot - 56' 'shot - 47' 'shot - 3'
 'shot - 53' 'shot - 5' 'shot - 41' 'shot - 40' 'shot - 19' 'shot - 16'
 'shot - 55' 'shot - 23' 'shot - 43' 'shot - 29' 'shot - 35' 'shot - 31'
 'shot - 13' 'shot - 38' 'shot - 26' 'shot - 28' 'shot - 33' 'shot - 50'
 'shot - 8' 'shot - 48' 'shot - 18' 'shot - 27']

type_of_combined_shot  :  ['None' 'shot - 3' 'shot - 1' 'shot - 4' 'shot - 5' 'shot - 2' 'shot - 0']

In [12]:
df=df.drop("team_name",axis=1)
df.head()

,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,...,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot,match_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,NaN,...,1.0,"45.539131, -122.651648",shot - 30,None,20000012,10.00,1.0,50.608,54.2000,38.0
1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,0.0,...,2.0,"45.539131, -122.651648",shot - 45,None,20000012,10.00,1.0,28.800,22.0000,35.0
2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,1.0,...,3.0,"45.539131, -122.651648",shot - 25,None,20000012,92.64,1.0,0.000,63.7216,54.4
3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,0.0,...,4.0,"45.539131, -122.651648",None,shot - 3,20000012,NaN,1.0,122.608,52.0000,42.0
4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,1.0,...,5.0,"45.539131, -122.651648",None,shot - 1,20000012,42.64,2.0,0.000,19.0000,20.0

In [13]:
object_cols.remove("team_name")

In [14]:
object_cols

['game_season',
 'area_of_shot',
 'shot_basics',
 'range_of_shot',
 'date_of_game',
 'home/away',
 'lat/lng',
 'type_of_shot',
 'type_of_combined_shot']

In [15]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
for i in object_cols:
    df[i]=LE.fit_transform(df[i])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 25 columns):
match_event_id           29134 non-null float64
location_x               29236 non-null float64
location_y               29157 non-null float64
remaining_min            29135 non-null float64
power_of_shot            29211 non-null float64
knockout_match           29180 non-null float64
game_season              30697 non-null int32
remaining_sec            29103 non-null float64
distance_of_shot         29130 non-null float64
is_goal                  24429 non-null float64
area_of_shot             30697 non-null int32
shot_basics              30697 non-null int32
range_of_shot            30697 non-null int32
date_of_game             30697 non-null int32
home/away                30697 non-null int32
shot_id_number           29134 non-null float64
lat/lng                  30697 non-null int32
type_of_shot             30697 non-null int32
type_of_combined_shot    30697 non-null int32
match_id                 30697 non-null int64
remaining_min.1          29162 non-null float64
power_of_shot.1          29158 non-null float64
knockout_match.1         29204 non-null float64
remaining_sec.1          29158 non-null float64
distance_of_shot.1       29129 non-null float64
dtypes: float64(15), int32(9), int64(1)
memory usage: 4.8 MB

In [17]:
for i in object_cols:
    print(i, "\n", df[i].value_counts(),"\n")

game_season
 20    5862
9     1911
6     1823
12    1810
11    1733
13    1665
5     1632
10    1537
4     1488
14    1462
7     1329
15    1326
16    1296
3     1264
8     1074
19     893
1      804
2      752
18     594
0      381
17      61
Name: game_season, dtype: int64

area_of_shot
 0    12761
5     4562
6     4370
1     3848
2     3573
4     1502
3       81
Name: area_of_shot, dtype: int64

shot_basics
 4    11955
0     6787
6     5321
1     4357
5     1575
7      367
2      268
3       67
Name: shot_basics, dtype: int64

range_of_shot
 4    8933
0    7892
2    6290
1    5937
5    1564
3      81
Name: range_of_shot, dtype: int64

date_of_game
 1558    1550
1557      49
497       45
851       44
776       43
891       41
943       41
1399      39
541       39
580       38
844       38
768       38
804       38
885       38
809       37
500       37
1069      37
1461      36
543       36
887       36
774       35
501       35
745       35
979       34
746       34
508       34
1150      34
749       34
328       34
384       34
        ...
3          3
54         3
372        3
1          3
37         3
21         3
39         3
19         2
8          2
26         2
18         2
5          2
305        2
1541       2
4          2
162        2
13         2
45         2
705        1
134        1
16         1
66         1
42         1
41         1
70         1
43         1
12         1
52         1
20         1
0          1
Name: date_of_game, Length: 1559, dtype: int64

home/away
 74    1497
30     971
68     890
29     845
8      832
48     828
27     825
64     805
11     756
28     755
45     729
65     718
66     718
17     710
71     704
33     694
54     693
10     655
47     642
50     620
13     593
7      578
44     542
2      497
14     490
51     486
31     410
39     404
24     399
49     394
      ...
61     293
5      292
42     291
0      288
53     288
15     284
56     280
43     275
18     270
16     269
19     266
73     256
55     229
3      214
40     213
37     207
35     126
20     122
72     111
57     102
41      96
21      77
4       64
1       38
63      37
26      31
58      25
67      21
34      21
38      14
Name: home/away, Length: 75, dtype: int64

lat/lng
 31    14171
38     1565
2       975
17      843
19      826
9       817
34      744
3       741
35      706
26      702
16      654
11      605
7       589
29      499
12      491
36      406
1       394
20      381
30      359
22      333
33      320
25      316
27      309
18      306
15      296
28      295
10      287
0       281
4       267
32      267
24      263
14      212
37      122
5       122
6        79
13       65
23       39
8        31
21       19
Name: lat/lng, dtype: int64

type_of_shot
 0     15280
34     1445
31     1292
35     1129
8       701
33      676
40      609
39      400
10      382
5       361
49      338
42      320
27      303
53      290
45      222
26      218
2       213
21      203
3       197
52      196
48      196
20      194
11      185
23      182
18      179
57      174
9       173
16      173
14      169
51      168
12      168
15      165
24      165
44      163
46      160
13      160
38      159
25      158
50      157
6       157
54      152
17      152
56      152
41      151
32      150
47      145
22      144
36      143
37      143
7       142
30      141
19      138
4       137
28      131
55      129
29      129
43      119
1       119
Name: type_of_shot, dtype: int64

type_of_combined_shot
 0    15417
4    11685
5     2736
2      609
6       90
3       82
1       78
Name: type_of_combined_shot, dtype: int64

In [18]:
int_cols=list(df.select_dtypes("int").columns)
int_cols

['game_season',
 'area_of_shot',
 'shot_basics',
 'range_of_shot',
 'date_of_game',
 'home/away',
 'lat/lng',
 'type_of_shot',
 'type_of_combined_shot']

In [19]:
for i in int_cols:
    print(i, "\n", df[i].value_counts(),"\n")

game_season
 20    5862
9     1911
6     1823
12    1810
11    1733
13    1665
5     1632
10    1537
4     1488
14    1462
7     1329
15    1326
16    1296
3     1264
8     1074
19     893
1      804
2      752
18     594
0      381
17      61
Name: game_season, dtype: int64

area_of_shot
 0    12761
5     4562
6     4370
1     3848
2     3573
4     1502
3       81
Name: area_of_shot, dtype: int64

shot_basics
 4    11955
0     6787
6     5321
1     4357
5     1575
7      367
2      268
3       67
Name: shot_basics, dtype: int64

range_of_shot
 4    8933
0    7892
2    6290
1    5937
5    1564
3      81
Name: range_of_shot, dtype: int64

date_of_game
 1558    1550
1557      49
497       45
851       44
776       43
891       41
943       41
1399      39
541       39
580       38
844       38
768       38
804       38
885       38
809       37
500       37
1069      37
1461      36
543       36
887       36
774       35
501       35
745       35
979       34
746       34
508       34
1150      34
749       34
328       34
384       34
        ...
3          3
54         3
372        3
1          3
37         3
21         3
39         3
19         2
8          2
26         2
18         2
5          2
305        2
1541       2
4          2
162        2
13         2
45         2
705        1
134        1
16         1
66         1
42         1
41         1
70         1
43         1
12         1
52         1
20         1
0          1
Name: date_of_game, Length: 1559, dtype: int64

home/away
 74    1497
30     971
68     890
29     845
8      832
48     828
27     825
64     805
11     756
28     755
45     729
65     718
66     718
17     710
71     704
33     694
54     693
10     655
47     642
50     620
13     593
7      578
44     542
2      497
14     490
51     486
31     410
39     404
24     399
49     394
      ...
61     293
5      292
42     291
0      288
53     288
15     284
56     280
43     275
18     270
16     269
19     266
73     256
55     229
3      214
40     213
37     207
35     126
20     122
72     111
57     102
41      96
21      77
4       64
1       38
63      37
26      31
58      25
67      21
34      21
38      14
Name: home/away, Length: 75, dtype: int64

lat/lng
 31    14171
38     1565
2       975
17      843
19      826
9       817
34      744
3       741
35      706
26      702
16      654
11      605
7       589
29      499
12      491
36      406
1       394
20      381
30      359
22      333
33      320
25      316
27      309
18      306
15      296
28      295
10      287
0       281
4       267
32      267
24      263
14      212
37      122
5       122
6        79
13       65
23       39
8        31
21       19
Name: lat/lng, dtype: int64

type_of_shot
 0     15280
34     1445
31     1292
35     1129
8       701
33      676
40      609
39      400
10      382
5       361
49      338
42      320
27      303
53      290
45      222
26      218
2       213
21      203
3       197
52      196
48      196
20      194
11      185
23      182
18      179
57      174
9       173
16      173
14      169
51      168
12      168
15      165
24      165
44      163
46      160
13      160
38      159
25      158
50      157
6       157
54      152
17      152
56      152
41      151
32      150
47      145
22      144
36      143
37      143
7       142
30      141
19      138
4       137
28      131
55      129
29      129
43      119
1       119
Name: type_of_shot, dtype: int64

type_of_combined_shot
 0    15417
4    11685
5     2736
2      609
6       90
3       82
1       78
Name: type_of_combined_shot, dtype: int64

In [20]:
#Remember to later somehow check for these counts corresponding to win or loss also.

In [21]:
df[int_cols]=df[int_cols].fillna(-1)

In [22]:
float_cols=list(df.select_dtypes("float").columns)
float_cols

['match_event_id',
 'location_x',
 'location_y',
 'remaining_min',
 'power_of_shot',
 'knockout_match',
 'remaining_sec',
 'distance_of_shot',
 'is_goal',
 'shot_id_number',
 'remaining_min.1',
 'power_of_shot.1',
 'knockout_match.1',
 'remaining_sec.1',
 'distance_of_shot.1']

In [23]:
for i in float_cols:
    print(i, "\n", df[i].value_counts(),"\n")

match_event_id
 2.0      128
4.0      102
11.0      92
278.0     88
8.0       87
17.0      86
6.0       85
12.0      85
318.0     83
337.0     82
249.0     82
267.0     82
26.0      81
9.0       81
257.0     80
24.0      80
313.0     79
13.0      79
88.0      79
102.0     79
256.0     79
239.0     79
27.0      78
238.0     78
73.0      78
242.0     78
197.0     77
16.0      77
303.0     77
271.0     77
        ...
634.0      2
597.0      2
585.0      2
575.0      2
610.0      2
601.0      2
579.0      2
593.0      2
586.0      2
599.0      2
582.0      2
620.0      1
615.0      1
590.0      1
595.0      1
650.0      1
659.0      1
617.0      1
653.0      1
625.0      1
594.0      1
600.0      1
587.0      1
603.0      1
623.0      1
639.0      1
606.0      1
616.0      1
589.0      1
607.0      1
Name: match_event_id, Length: 618, dtype: int64

location_x
  0.0      5195
 1.0       256
 138.0     143
 159.0     142
-2.0       139
 136.0     137
 144.0     136
 108.0     135
 6.0       130
-8.0       130
 18.0      129
-141.0     127
-149.0     126
 121.0     121
 143.0     121
 130.0     120
 10.0      119
-16.0      118
-128.0     117
 125.0     113
 149.0     113
 115.0     111
-10.0      109
 15.0      109
-4.0       109
 154.0     109
 141.0     109
 7.0       107
-5.0       107
 94.0      106
          ...
-178.0       6
 239.0       6
-242.0       5
-137.0       5
 248.0       5
 229.0       5
-239.0       5
-129.0       4
-243.0       4
-216.0       4
 216.0       4
 137.0       4
-206.0       4
-165.0       4
-9.0         4
 244.0       3
-203.0       3
-17.0        3
 224.0       3
-246.0       3
-244.0       2
 245.0       2
 246.0       2
-245.0       2
-248.0       1
-47.0        1
-250.0       1
-211.0       1
 139.0       1
-208.0       1
Name: location_x, Length: 488, dtype: int64

location_y
  0.0      5324
 7.0       239
 12.0      215
 3.0       207
 17.0      196
 15.0      196
 156.0     194
 26.0      182
 23.0      181
 61.0      177
 160.0     173
 4.0       164
 63.0      163
-3.0       162
 66.0      161
 28.0      159
 11.0      159
 31.0      157
 173.0     156
 143.0     153
 1.0       151
 22.0      151
 30.0      150
 36.0      150
 20.0      147
 135.0     147
 179.0     145
 137.0     144
 33.0      143
 53.0      143
          ...
 373.0       1
 342.0       1
 611.0       1
 791.0       1
 493.0       1
 644.0       1
 386.0       1
 393.0       1
 696.0       1
 322.0       1
 370.0       1
 411.0       1
 398.0       1
 711.0       1
 443.0       1
 588.0       1
 620.0       1
 301.0       1
 728.0       1
 564.0       1
 533.0       1
 315.0       1
 658.0       1
 368.0       1
 608.0       1
-30.0        1
 585.0       1
 679.0       1
 343.0       1
 467.0       1
Name: location_y, Length: 450, dtype: int64

remaining_min
 0.0     3681
4.0     2709
3.0     2698
2.0     2688
1.0     2600
5.0     2508
6.0     2256
7.0     2094
9.0     2089
8.0     2028
10.0    2016
11.0    1768
Name: remaining_min, dtype: int64

power_of_shot
 3.0    7885
1.0    7659
4.0    6910
2.0    6399
5.0     314
6.0      37
7.0       7
Name: power_of_shot, dtype: int64

knockout_match
 0.0    24921
1.0     4259
Name: knockout_match, dtype: int64

remaining_sec
 0.0     931
1.0     620
2.0     572
28.0    531
4.0     530
32.0    525
5.0     523
36.0    522
25.0    520
41.0    516
13.0    503
23.0    499
11.0    498
37.0    498
38.0    496
3.0     494
8.0     494
40.0    493
33.0    492
44.0    492
24.0    491
27.0    488
16.0    488
47.0    485
10.0    483
31.0    483
22.0    482
34.0    480
14.0    478
19.0    478
18.0    478
57.0    477
43.0    475
45.0    474
42.0    474
21.0    470
35.0    469
17.0    466
7.0     465
20.0    465
26.0    461
29.0    460
30.0    459
39.0    457
6.0     456
15.0    454
50.0    450
12.0    448
9.0     445
52.0    443
59.0    440
48.0    438
46.0    437
56.0    436
49.0    433
54.0    424
51.0    423
58.0    422
53.0    412
55.0    407
Name: remaining_sec, dtype: int64

distance_of_shot
 20.0    5258
45.0    1856
44.0    1433
37.0    1415
38.0    1341
36.0    1339
39.0    1299
46.0    1213
40.0    1144
35.0    1103
34.0    1011
33.0     892
41.0     768
32.0     745
27.0     672
30.0     668
31.0     652
42.0     646
28.0     640
26.0     611
21.0     597
29.0     581
22.0     541
43.0     539
25.0     508
47.0     486
23.0     361
24.0     350
48.0     181
49.0      77
        ...
63.0       5
76.0       4
64.0       4
69.0       4
72.0       4
78.0       4
75.0       3
79.0       3
82.0       3
70.0       3
74.0       3
71.0       3
94.0       3
67.0       3
68.0       3
73.0       2
81.0       2
66.0       2
65.0       2
88.0       2
90.0       2
87.0       2
84.0       2
97.0       1
85.0       1
89.0       1
80.0       1
77.0       1
99.0       1
91.0       1
Name: distance_of_shot, Length: 73, dtype: int64

is_goal
 0.0    13550
1.0    10879
Name: is_goal, dtype: int64

shot_id_number
 19975.0    1
15759.0    1
10304.0    1
1017.0     1
3440.0     1
4072.0     1
14656.0    1
748.0      1
29888.0    1
1608.0     1
21739.0    1
12722.0    1
17882.0    1
6403.0     1
29149.0    1
10155.0    1
23759.0    1
25265.0    1
5714.0     1
11258.0    1
5862.0     1
26561.0    1
25914.0    1
22323.0    1
22316.0    1
29966.0    1
13970.0    1
6896.0     1
13504.0    1
2134.0     1
          ..
20689.0    1
12118.0    1
13167.0    1
478.0      1
13682.0    1
388.0      1
626.0      1
16761.0    1
8096.0     1
808.0      1
15448.0    1
7872.0     1
2352.0     1
18688.0    1
11744.0    1
2576.0     1
9421.0     1
23233.0    1
29836.0    1
26461.0    1
13547.0    1
9001.0     1
17231.0    1
25953.0    1
18120.0    1
19380.0    1
2307.0     1
28993.0    1
12765.0    1
1.0        1
Name: shot_id_number, Length: 29134, dtype: int64

remaining_min.1
 0.0000      2921
4.0000      2179
3.0000      2154
2.0000      2134
1.0000      2061
5.0000      1976
6.0000      1758
9.0000      1650
7.0000      1646
8.0000      1639
10.0000     1587
11.0000     1426
84.6400       57
111.6400      57
25.6400       56
96.6400       55
108.6400      53
98.6400       53
42.6400       53
29.6400       53
110.6400      52
27.6400       52
106.6400      52
57.6400       51
117.6400      51
102.6400      51
91.6400       50
112.6400      50
119.6400      50
118.6400      49
            ...
126.7616       2
82.7616        2
42.7616        2
103.7616       1
89.7616        1
90.7616        1
114.7616       1
120.7616       1
32.7616        1
107.7616       1
113.7616       1
70.7616        1
127.7616       1
60.7616        1
100.7616       1
96.7616        1
56.7616        1
87.7616        1
55.7616        1
48.7616        1
109.7616       1
88.7616        1
74.7616        1
91.7616        1
115.7616       1
110.7616       1
86.7616        1
41.7616        1
116.7616       1
58.7616        1
Name: remaining_min.1, Length: 291, dtype: int64

power_of_shot.1
 3.00      6268
1.00      6085
4.00      5485
2.00      5093
5.00       263
95.36       75
83.36       71
80.36       69
30.36       68
72.36       68
74.36       67
94.36       67
112.36      66
85.36       66
81.36       65
106.36      63
29.36       63
101.36      62
24.36       62
99.36       62
103.36      62
44.36       62
26.36       62
58.36       61
78.36       61
40.36       61
41.36       61
57.36       61
52.36       60
117.36      60
          ...
109.60       3
78.60        3
42.60        3
64.60        3
67.60        3
89.60        3
38.60        2
62.60        2
105.60       2
49.60        2
86.60        2
36.60        2
68.60        2
84.60        2
30.60        2
19.60        2
20.60        2
37.60        2
46.60        2
34.60        2
104.60       1
57.60        1
82.60        1
50.60        1
83.60        1
75.60        1
96.60        1
15.60        1
45.60        1
94.60        1
Name: power_of_shot.1, Length: 206, dtype: int64

knockout_match.1
 0.00000      19831
1.00000       3382
87.60800        38
132.60800       33
38.60800        31
93.60800        30
95.60800        30
129.60800       30
40.60800        30
81.60800        29
53.60800        29
47.80000        29
105.60800       28
88.60800        28
58.60800        28
41.80000        28
137.60800       27
108.60800       27
45.60800        27
101.60800       27
133.60800       27
47.60800        27
127.60800       27
85.60800        27
62.60800        27
103.80000       27
125.92800       27
121.60800       27
36.92800        27
89.80000        26
             ...
83.35232         2
106.35232        2
100.35232        2
111.35232        2
127.35232        2
114.35232        2
58.35232         2
72.35232         2
89.35232         2
88.35232         2
81.35232         1
113.35232        1
139.35232        1
105.35232        1
110.35232        1
75.35232         1
69.35232         1
59.35232         1
122.35232        1
57.35232         1
45.35232         1
124.35232        1
42.35232         1
84.35232         1
90.35232         1
118.35232        1
119.35232        1
78.35232         1
121.35232        1
136.35232        1
Name: knockout_match.1, Length: 382, dtype: int64

remaining_sec.1
 0.0000      747
1.0000      509
28.0000     445
2.0000      442
4.0000      434
41.0000     423
36.0000     410
5.0000      410
44.0000     409
24.0000     407
11.0000     406
38.0000     402
40.0000     399
14.0000     399
3.0000      398
23.0000     398
32.0000     398
37.0000     397
18.0000     396
20.0000     392
34.0000     392
35.0000     390
45.0000     388
16.0000     388
47.0000     387
25.0000     385
57.0000     384
13.0000     384
31.0000     383
8.0000      383
           ...
64.7216       2
66.7216       2
85.7216       2
67.7216       2
111.7216      2
54.7216       2
55.7216       2
112.7216      2
79.7216       2
89.7216       2
96.7216       2
120.7216      2
44.7216       1
118.7216      1
106.7216      1
140.7216      1
88.7216       1
104.7216      1
86.7216       1
57.7216       1
70.7216       1
130.7216      1
132.7216      1
101.7216      1
73.7216       1
69.7216       1
131.7216      1
47.7216       1
143.7216      1
94.7216       1
Name: remaining_sec.1, Length: 354, dtype: int64

distance_of_shot.1
 20.000    4232
45.000    1511
44.000    1162
37.000    1125
38.000    1086
36.000    1036
39.000    1019
46.000     965
40.000     931
35.000     884
34.000     825
33.000     705
41.000     620
32.000     599
31.000     528
27.000     525
42.000     519
30.000     514
28.000     509
21.000     499
26.000     491
29.000     448
22.000     438
43.000     419
47.000     392
25.000     390
23.000     291
24.000     287
48.000     143
55.400      69
          ...
64.000       3
69.000       3
82.000       3
74.000       3
53.000       3
70.000       3
68.000       2
72.000       2
76.000       2
63.000       2
73.000       2
94.000       2
40.728       2
83.000       2
67.000       2
90.000       2
75.000       2
87.000       1
89.000       1
84.000       1
77.000       1
81.000       1
79.000       1
88.000       1
80.000       1
99.000       1
78.000       1
71.000       1
97.000       1
91.000       1
Name: distance_of_shot.1, Length: 271, dtype: int64

In [24]:
to_pop=["is_goal","location_x","location_y"]
for i in to_pop:
    float_cols.remove(i)
df[float_cols]=df[float_cols].fillna(-1)

In [25]:
df["location_x"]=df["location_x"].fillna(-1000)
df["location_y"]=df["location_y"].fillna(-1000)

In [26]:
correlations = df.corr()['is_goal'].drop('is_goal')
print(correlations)

match_event_id          -0.034872
location_x               0.001672
location_y              -0.055611
remaining_min            0.024292
power_of_shot           -0.028788
knockout_match          -0.004039
game_season             -0.013277
remaining_sec            0.027535
distance_of_shot        -0.149779
area_of_shot            -0.094281
shot_basics             -0.177947
range_of_shot            0.139776
date_of_game            -0.014212
home/away                0.017900
shot_id_number          -0.009067
lat/lng                  0.016247
type_of_shot            -0.005371
type_of_combined_shot   -0.009326
match_id                -0.000169
remaining_min.1          0.008820
power_of_shot.1         -0.001608
knockout_match.1        -0.000363
remaining_sec.1          0.010805
distance_of_shot.1      -0.070716
Name: is_goal, dtype: float64

In [27]:
a_corr=abs(correlations)
features=a_corr[a_corr>0].index.values.tolist()
len(features)

24

In [28]:
df["is_goal"]=df["is_goal"].fillna(5)
df=df[df["is_goal"]!=5]

In [29]:
import numpy as np
x=df[features]
y=np.asarray(df['is_goal'])

In [30]:
from sklearn import preprocessing
x=preprocessing.StandardScaler().fit_transform(x) #standardizing

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [31]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=1)
print ('Train set:', x_train.shape,  y_train.shape)
print ('Test set:', x_test.shape,  y_test.shape)

Train set: (21986, 24) (21986,)
Test set: (2443, 24) (2443,)

In [32]:
from sklearn.linear_model import LogisticRegression

In [33]:
LR = LogisticRegression( solver='newton-cg',multi_class='multinomial')
model=LR.fit(x_train,y_train)

In [34]:
y_pred_train=model.predict(x_train)
y_pred_test=model.predict(x_test)

In [35]:
from sklearn.metrics import accuracy_score

In [36]:
accuracy_score(y_train,y_pred_train)

0.5950150095515327

In [37]:
accuracy_score(y_test,y_pred_test)

0.5927138763814982

In [38]:
from sklearn.metrics import mean_absolute_error

In [39]:
mean_absolute_error(y_train,y_pred_train)

0.4049849904484672

In [40]:
mean_absolute_error(y_test,y_pred_test)

0.40728612361850186

In [41]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=5,random_state=1)
rf.fit(x_train, y_train)
rf_predict=rf.predict(x_test)
rf_acc_score = accuracy_score(y_test, rf_predict)
print(rf_acc_score*100)

55.99672533769955

In [42]:
accuracy_score(y_train, rf.predict(x_train))

0.9550168288911125

In [43]:
mean_absolute_error(y_train,rf.predict(x_train))

0.04498317110888747

In [44]:
mean_absolute_error(y_test,rf.predict(x_test))

0.4400327466230045